<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-5A7pWr1aQE2mDuVaELgGMe-S_40V3L8</string>
	<key>GCM_SENDER_ID</key>
	<string>183946139050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stroreApp</string>
	<key>PROJECT_ID</key>
	<string>store-app-5ae02</string>
	<key>STORAGE_BUCKET</key>
	<string>store-app-5ae02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183946139050:ios:1ecd824ede8107ffcf47d3</string>
</dict>
</plist>